@media (max-width: 768px) {
    #errorPic {
        width: 350px;
        height: 350px;
    }

    #societyPic{
        width: 150px;
        height: 150px;
    }

    .rate-big-star{
        width: 25px;
        height: 25px;
        margin: 0 5px;
    }
}

@media(min-width: 768px) and (max-width:1200px){

    .rate-big-star{
        width: 35px;
        height: 35px;
        margin: 0 5px;
    }
}

@media (max-width: 992px) {
    #searchFormMd {
        display: none;
    }

    #form{
        border-top: 3px solid var(--deep-blue);
    }
}

@media (min-width: 993px) {
    #searchFormSm,
    #smBtnContainer {
        display: none;
    }

    #societySeparate{
        transform: rotate(90deg);
        width: 650px;
        position: relative;
        top: -350%;
        left: 27%;
    }

    #form{
        border-left: 4px solid var(--deep-blue);
    }
}
