@media (max-width: 992px){  

    #searchFormMd{
        display: none;
    }
}

@media (min-width: 993px){
    #searchFormSm{
        display: none;
    }

    #smBtnContainer{
        display: none;
    }
}